[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isogeochem"]
	path = isogeochem
	url = https://github.com/davidbajnai/isogeochem
